body {
    font: 14px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

#urlOpen {
    position: relative;
    margin-bottom: 8px;
}

#autobox {
    bottom: 0;
}

.played {
    background-color: lightgrey;
}